
body{
    margin: 0;
    padding: 0;
}

#container1{
    font-size: 18px;
}

  p{
    font-size: 20px;
  }

  h2{
    font-family: Arial, Helvetica, sans-serif;
  }


.infoPregunta{   
    background-color: rgb(199, 255, 250);
    border-radius: 16px;
    margin: 10px;
    padding: 10px;
}

@media screen and (min-width: 1025px) {
    #container1{
        margin: 0 auto;
        margin: 15px;
    }
  }
